.logo {
  display: inline-block;
  margin-right: 100px;
}

.nav-li {
  float: left;
}

.nav-ul {
  list-style-type: none;
  margin-left: 910px;
  padding: 0;
  overflow: hidden;
}

.nav-li .nav-link {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-icon {
  margin-top: 8px;
  margin-left: 20px;
}

.options-below-slider {
  margin-top: 600px;
}

.background-circle {
  display: inline-block;
  border-radius: 50%;
  background-color: #eeeeee;
  width: 60px;
  height: 60px;
}

.localshippingicon-icon {
  display: inline-block;
  margin-top: 20px;
  margin-left: 5px;
}
